.my-bg-color{
    background-color: #F0F0F0;
}

.nav-font-size{
    font-size: 12px;
}

.abel-regular-font{
    font-family: 'Abel', sans-serif;
}

.anton-regular-font{
    font-family: 'Anton', sans-serif;
}

/*CUSTOM BUTTONS MADE BY MATTHEW*/
.center-outer {
    background: white;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-design {
    background: #E6563B;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.center-develop {
    background: #EB9D3A;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.center-support {
    background: #7CB06C;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.center-host {
    background: #00ABA9;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.button-size{
  transform: scale(70%);
    display: flex;
    justify-content: center;
}

.my-text-float{
    float: right;
}